@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $bg-color;
}

.nav-bar {
  background-color: $nav-color !important;
}

.nav-link {
  color: $bg-color !important
}

.home-text {
  color: $light-red-color !important;
}

.home-component {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
